@charset "UTF-8";
.cabecera .logo {
	background-color: #AC0E14;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 30%;
	clear: left;
	overflow-y: hidden;
	overflow-x: hidden;
	float: right;
}
.cabecera .logo {
    float: none;
    background-color: #FFFFFF;
}
.cabecera .slider {
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	color: #CE830E;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-indent: 50px;
	font-size: larger;
	font-weight: 900;
	font-variant: small-caps;
	font-style: normal;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	text-shadow: 51px 48px;
}
.contenido {
    text-align: center;
    background-color: #B1B1B1;
    clear: left;
    border-bottom-width: 0%;
    padding-top: 40px;
    background-position: 139% 75%;
    text-decoration: underline;
    font-size: x-large;
    color: #282828;
}
.cabecera .menu {
    width: 100%;
    float: left;
    clear: none;
    color: #FFFFFF;
    background-color: #B1B1B1;
    text-decoration: underline;
    text-indent: 74px;
    text-align: left;
}
.contenido .ubicacion {
}
.contenido .redes {
}
.piedepagina {
    background-color: #B1B1B1;
    -webkit-box-shadow: 0px 0px #F8F8F8;
    box-shadow: 0px 0px #F8F8F8;
    color: #000000;
}
.cabecera .slider {
    text-align: center;
    float: right;
    clear: left;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: underline;
}
.contenido .plaza {
}
.cabecera {
    background-color: #B1B1B1;
}
